* {
  font-family: "Roboto", sans-serif;
}
#burger {
  background: url("./assets/playscreen.png");
  width: 600px;
  height: 800px;
}
h2,
h3 {
  color: blue;
}
#burger {
  max-width: 800px;
  margin-top: 30px;
  margin: auto;
}

#instructions {
  max-width: 300px;
}
