#myCanvas {
  background: url("./assets/playscreen.png");
}
#splashscreen {
  background: url("./assets/playscreen.png");
  width: 600px;
  height: 800px;
}
.margin-left {
  margin-left: 150px;
  margin-top: 50px;
}
.info {
  margin: 0 0 0 80px;
}
.resize {
  width: 70%;
}
#gameover {
  background: url("./assets/gameover.png");
  width: 600px;
  height: 800px;
}

#restart,
#start {
  background-color: transparent;
  border: none;
}
#restart {
  margin-top: 470px;
}
