#myCanvas {
  background: url("./assets/playscreen.png");
}
#splashscreen {
  background: url("./assets/playscreen.png");
  width: 600px;
  height: 800px;
}
#gameover {
  background: url("./assets/gameover.png");
  width: 600px;
  height: 800px;
}

#restart,
#start {
  background-color: transparent;
  border: none;
}

h2,
h3 {
  color: blue;
}
